a:hover {
    text-decoration: none !important;
}

.bg-success {
    background-color: #1abc9c !important;
}

.text-success {
    color: #1abc9c !important;
}

.bg-warning {
    background-color: #f7b84b !important;
}

.text-warning {
    color: #f7b84b !important;
}
.text-primary {
    color: #0561ad !important;
    /* color: #0072cf !important; */
}
.form-control:focus {
    /* border-color: #17a2b8; */
    border-color: #ced4da;
}
select:active,
select:hover {
    outline: none;
}
.form-control {
    /* height: 2.8rem; */
    font-size: 0.9rem;
}

.input-group-text {
    font-size: 0.9rem;
}
body {
    /* zoom: 0.96; */
    font-family: Roboto;
}
.tab-pane {
    animation: slide-right 300ms ease-out;
}

@keyframes slide-right {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }

    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}

label {
    align-self: center;
    margin-bottom: 0;
    /* font-weight: 400; */
    /* font-size: 1rem */
}

input {
    align-self: center !important;
}

form-control {
    align-self: center !important;
}

.switch-text {
    position: absolute;
    left: 70%;
    transform: translate(-50%, -50%);
}

.switch {
    border-radius: 33px !important;
    height: 2rem;
    border: 1px solid #dbdee0 !important;
    font-size: 0.75rem;
    line-height: normal;
    /* left: 2px; */
    background-color: white;
    color: #6c757d;
    animation: fadein 1000ms;
    font-weight: bold;
}

.switch:hover {
    border-color: #00bdf3 !important;
}

.switch .leftbtn {
    border-radius: 0 50% 50% 0;
}

.switch.active {
    background-color: #00bdf3 !important;
    color: white;
}

.next-button {
    height: 2rem !important;
    font-size: 0.9rem !important;
    margin-top: 2rem !important;
    line-height: normal !important;
}

.transfer-detail-header {
    font-size: 1rem;
    margin-top: 1.5rem;
}

.transfer-detail-text {
    font-size: 0.8rem;
    margin-bottom: 0.4rem;
}

.header-icon {
    height: 1.5rem;
    width: 1.5rem;
}

.page-header {
    font-size: 1.1rem;
    font-weight: 600;
}

.btn-soft-blue {
    color: #4a81d4;
    background-color: rgba(74, 129, 212, 0.18);
    border-color: rgba(74, 129, 212, 0.12);
}
